---
import Layout from '../layouts/Layout.astro';
import Feature from '../components/Feature';

import * as FeaturedProject1 from './projects/project1.md'
import * as FeaturedProject2 from './projects/project2.md'
import * as FeaturedProject3 from './projects/project3.md'

import ProjectCard from '../components/ProjectCard';

const projects = (await Astro.glob('./projects/*.md')).filter(p => ![FeaturedProject1.url, FeaturedProject2.url, FeaturedProject3.url].includes(p.url))
---

<Layout title="Nathan Andrews">
	<main class="flex flex-col gap-[100px]">
		<section id="landing" class="h-screen flex justify-center items-center">
			<div class="flex flex-col gap-4">
				<p class="text-highlight text-4xl font-extralight">Hello, my name is</p>
				<div>
					<p class="text-6xl font-bold">Nathan Andrews.</p>
					<p class="text-blue text-5xl font-bold">I build software.</p>
				</div>
				<p class="text-2xl leading-none font-extralight w-[25ch]">I'm a student at Brown University studying computer science.</p>
				<ul class="text-highlight font-extralight text-3xl flex justify-start mt-2">
					<li class="cursor-pointer py-[15px] px-[25px] border border-highlight rounded-3xl hover:text-background hover:bg-highlight transition-all"><a href="#work">See my work</a></li>
				</ul>
			</div>
		</section>
		<section id="about">
			<div class="flex items-center gap-3 mb-[10px]">
				<h2 class="text-4xl font-bold"><span class="text-highlight font-extralight text-2xl">01.</span> About Me</h2>
				<div class="h-px w-[300px] bg-white"></div>
			</div>
			<div class="flex gap-[40px]">
				<div class="w-[40ch] flex flex-col gap-[12px]">
					<p>Hello! My name is Nathan and I enjoy creating all things software. My interest in software began in 2020 during the pandemic when I taught myself JavaScript to stay busy.</p>
					<p>Since then I have been a student at <em class="not-italic text-highlight">Brown University</em> studying computer science and learning how to design and build good software.</p>
					<p>In addition to my studies I am an incoming software engineering intern at <em class="not-italic text-highlight">Amazon</em>.</p>
					<p>Here are some technologies that I've been using:</p>
					<ul class="marker:text-highlight list-disc columns-2 pl-[40px]">
						<li>Go</li>
						<li>JavaScript (ES6+)</li>
						<li>TypeScript</li>
						<li>React</li>
						<li>Figma</li>
					</ul>
				</div>
				<div class="w-[255px] h-[255px] bg-gray-300 rounded-[20px]"></div>
			</div>
		</section>
		<section id="work">
			<div class="flex items-center gap-3 mb-[10px]">
				<h2 class="text-4xl font-bold"><span class="text-highlight font-extralight text-2xl">02.</span> Some Things I've Made</h2>
				<div class="h-px w-[100px] bg-white">
				</div>
			</div>
			<!-- <ul class="flex flex-col gap-[60px] items-center" style={{width: "clamp(600px, 60vw, 800px)"}}> -->
			<ul class="flex flex-col gap-[60px] items-center w-full">
				<Feature file={FeaturedProject1.frontmatter} index={0} />
				<Feature file={FeaturedProject2.frontmatter} index={1} />
				<Feature file={FeaturedProject3.frontmatter} index={2} />
			</ul>
			<h3 class="text-center text-3xl font-bold mt-[75px]">Other Cool Projects</h3>
			<a href="/projects" class="block text-center text-highlight">view all projects</a>
			<ul class="flex gap-3 justify-center flex-wrap">
				{projects.map((p, idx) => 
					<ProjectCard file={p.frontmatter} index={idx} />
				)}
			</ul>
		</section>
		<section id="contact" class="text-center flex flex-col items-center gap-[10px]">
			<h2 class="text-4xl font-bold"><span class="text-highlight font-extralight text-2xl">03.</span> Contact</h2>
			<p class="text-2xl max-w-[41ch] font-light">My inbox is open! Feel free to ask questions or just say hi! I’ll do my best to get back to you!</p>
			<a href="mailto:nandrews.personal@gmail.com" class="text-highlight font-extralight text-3xl justify-start mt-2 w-fit block cursor-pointer py-[15px] px-[25px] border border-highlight rounded-3xl hover:text-background hover:bg-highlight transition-all">Say Hi!</a>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
